version: 2
jobs:
  plan:
    docker:
      - image: hashicorp/terraform:light
    steps:
      - checkout
      - run:
          name: Set up Terraform
          # https://discuss.circleci.com/t/create-separate-steps-jobs-for-pr-forks-versus-branches/13419/2
          command: |
            if [[ $(echo "$CIRCLE_BRANCH" | grep -c "pull") -gt 0 ]]; then
              echo "This is from a fork."
              terraform init -backend=false -input=false cds-snc.ca
              terraform init -backend=false -input=false alpha.canada.ca
            else
              terraform init -backend-config=cds-snc.ca/backend.tfvars -input=false cds-snc.ca
              terraform init -backend-config=alpha.canada.ca/backend.tfvars -input=false alpha.canada.ca
            fi
      - run:
          name: Validate Terraform config
          command: |
            if [[ $(echo "$CIRCLE_BRANCH" | grep -c "pull") -gt 0 ]]; then
              echo "This is from a fork."
              terraform validate cds-snc.ca
              terraform validate alpha.canada.ca
            else
              terraform plan -input=false cds-snc.ca
              terraform plan -input=false alpha.canada.ca
            fi

      - persist_to_workspace:
          root: .
          paths:
            - ./*

  apply:
    docker:
      - image: hashicorp/terraform:light
    steps:
      - attach_workspace:
          at: .

      - run:
          name: Deploy the full environment
          command: terraform apply -input=false -auto-approve cds-snc.ca && terraform apply -input=false -auto-approve alpha.canada.ca

workflows:
  version: 2

  validate_and_deploy:
    jobs:
      - plan
      - apply:
          filters:
            branches:
              only: master
          requires:
            - plan

#experimental:
#  notify:
#    branches:
#      only:
#        - master