name: "Terraform plan"

on:
  pull_request:
    branches:
      - main

env:
  AWS_REGION: ca-central-1
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  CONFTEST_VERSION: 0.54.0
  TERRAFORM_VERSION: 1.9.2
  TF_INPUT: false

jobs:
  terraform-plan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Setup Terraform tools
        uses: cds-snc/terraform-tools-setup@v1

      - name: Terraform plan
        uses: cds-snc/terraform-plan@359927038664bc1647919e18ca36a3b551445131 # v3.6.1
        with:
          directory: "terraform"
          comment-delete: "true"
          comment-title: "DNS"
          github-token: "${{ secrets.GITHUB_TOKEN }}"
