name: "Terraform plan"

on:
  pull_request:
    branches:
      - main

env:
  AWS_REGION: ca-central-1
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  TF_VAR_IAM_USER_TAG_KEY: ${{ secrets.AWS_ACCESS_KEY_ID }}
  CONFTEST_VERSION: 0.27.0
  TERRAFORM_VERSION: 1.2.8
  TF_INPUT: false

jobs:
  terraform-plan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

      - name: Setup Terraform tools
        uses: cds-snc/terraform-tools-setup@v1

      - name: Terraform plan
        uses: cds-snc/terraform-plan@4719878d72d1b0078e0bce2e7571e854e79903b8 # v3.2.2
        with:
          directory: "terraform"
          comment-delete: "true"
          comment-title: "DNS"
          github-token: "${{ secrets.GITHUB_TOKEN }}"
